/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
}
body {
  background-color: #bdc3c7
}

.foto {
  position: relative;
  width: 290px;
  height: 200px;
  margin: 0px;
}

.hlavicka {
  margin-bottom: -40px;
}

.logo {
  position:relative;
  left: 205px;
  top:-30px;
  bottom:0px;
  color:white;
  background-color: #b92e81;
  border-radius:30px;
  box-shadow: 0px 10px 10px rgb(24, 24, 24)
}

.jmeno {
  font-family:'Montserrat', sans-serif;
  font-size: 28px;
  text-align:left;
  color:white;
  padding-top:-60px;
}

.profil
 {
  display:block;
  position:relative;
  color:white;
  text-align:left;
  background-color:#31363b;
  margin:20px;
  width:290px;
  box-shadow: 5px 5px 5px gray;
}

.obsah {
  display: block;
  padding-left: 20px;
  text-align: left;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 5px 20px 20px 5px;
}


.odkazy {
  position: relative;
  width: 100%;
  height: 80px;
  font-family: 'Monserrat', sans-serif;
  font-size: 20px;
  list-style-type: none;
  text-align: center;
  
}

  .portfolio {
    position: absolute;
    top:0;
    right: 0;
    padding-top: 8px;
    width:100%;
    height: 50%; 
    border:1px solid #3f464d;
    
  }

  .facebook {
    position:absolute;
    left: 0;
    bottom: 0;
    padding-top: 8px;
    height: 50%;
    width: 50%;
    border:1px solid #3f464d;

  }

  .twitter {
    position:absolute;
    height: 50%;
    right: 0;
    padding-top: 8px;
    bottom: 0;
    width: 50%;
    border:1px solid #3f464d;
  }
  

a {
  text-decoration:none;
  color: #d3d2d2;
  
}

li.facebook:hover {
  background-color: #3b5998;
}

li.twitter:hover {
  background-color: #1da1f2
}

li.portfolio:hover {
  background-color: #e74c3c
}